<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="epicuriContainer" connectionString="metadata=res://*/DatabaseModel.epicuri.csdl|res://*/DatabaseModel.epicuri.ssdl|res://*/DatabaseModel.epicuri.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=epicuri;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>