@mixin trackbit-button {
	
	$outline: 0px 1px 0px rgba(255, 255, 255, 0.3) inset;

	.v-button {
		color: $text-color;
		padding: .3em 1.4em;
		
		line-height: 1;
		
		@include border-radius(.25em);
	
		border-width: 1px;
		border-style: solid;
		border-color: #CCCCCC;
		
		background-color: #EEEEEE;
	}
	
	button::-moz-focus-inner {
	    padding: 0;
	    border: 0
	}
	
	.v-webkit & .v-button {
		padding-bottom: .35em;
	}
	
	/* Align caption and icon vertically to middle when the button has an explicit height */
	.v-has-height.v-button:before {
		display: inline-block;
		content: "";
		vertical-align: middle;
		height: 100%;
		width: 0;
	}
	
	.v-button:focus {
		outline: none;
	}
	
	.v-button:active,
	.v-pressed.v-button {
		border-color: #ADADAD;
		
		@include box-shadow(0px 3px 5px rgba(0, 0, 0, 0.125) inset);
		
		background: #E6E6E6;
		
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
	
	.wide.v-button {
		padding-left: 1.8em;
		padding-right: 1.8em;
	}
	
	.style-primary.v-button {
		color: #fff;
		font-weight: bold;
		-webkit-font-smoothing: antialiased;
		
		border-color: $primary-color;
		
		background-color: $primary-color;

		&:hover {
			background-color: $primary-hover-color;
		}
	}

	.style-success.v-button {
        color: #fff;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;

        border-color: $success-color;

        background-color: $success-color;

        &:hover {
            background-color: $success-hover-color;
        }
    }

    .style-info.v-button {
        color: #fff;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;

        border-color: $info-color;

        background-color: $info-color;

        &:hover {
            background-color: $info-hover-color;
        }
    }

    .style-warning.v-button {
        color: #fff;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;

        border-color: $warning-color;

        background-color: $warning-color;

        &:hover {
            background-color: $warning-hover-color;
        }
    }

    .style-danger.v-button {
        color: #fff;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;

        border-color: $danger-color;

        background-color: $danger-color;

        &:hover {
            background-color: $danger-hover-color;
        }
    }

    .style-dark.v-button {
        color: #fff;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;

        border-color: $dark-color;

        background-color: $dark-color;

        &:hover {
            background-color: $dark-hover-color;
        }
    }
	
	.style-primary.v-button:focus {
		xborder-color: #207ce5;
	}
	
	.style-primary.v-button:active,
	.v-pressed.v-button.default {
		/* for further customize */
	}
	
	
	
	.small.v-button {
		padding: .1em 1.2em;
		font-size: 13px;
	}
	
	
	
	.link.v-button,
	.link.v-button:active,
	.link.v-pressed.v-button,
	.link.v-button:focus {
		background: transparent;
		border: none;
		font-weight: inherit;
		color: #349aff;
		font-size: inherit;
		line-height: inherit;
		letter-spacing: 0;
		padding: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		text-shadow: inherit;
	}
	
	
	.icon-only.v-button {
		padding-left: .8em;
		padding-right: .8em; 
	}
	.icon-only.v-button .v-button-wrap:before {
		margin: 0; 
	}
	.icon-only.v-button .v-button-caption {
		display: none;
	}
	
	.borderless.v-button {
		border: none !important;
		background: transparent !important;
		-webkit-box-shadow: none;
		-mox-box-shadow: none;
		box-shadow: none;
	}

}