@mixin trackbit-progressbar {
	.v-progressbar {
		.v-progressbar-wrapper {
			border-color: #C7C7C7;
			@include box-shadow(0px 1px 2px rgba(0, 0, 0, 0.1) inset);
			border-radius: 4px;
			
			.v-progressbar-indicator {
				background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
				background-image:-o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
				background-image:-moz-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
				background-image:-ms-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
				background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
				-webkit-background-size:40px 40px;
				background-size:40px 40px;
				background-color: #4FA8F7;
				border-radius: 4px;
				@include transition(width .6s ease);
				@include progressbar-animation;
			}
		}
	}
}