@mixin trackbit-slider {
	.v-slider {
		.v-slider-base {
			background-color: #4FA8F7;
			border-radius: 2px;
			.v-slider-handle {
				background-color: #FFFFFF;
				border-radius: 6px;
				@include box-shadow(0px 0px 4px #444);
				cursor: pointer;
			}
		}
	}
}