@mixin trackbit-widgetbox {
	.widgetbox {
		border-radius: 3px;
		background-color: #FFFFFF;
		border: 1px solid #C7C7C7;
		overflow: visible;
		
		.widgetbox-header {
			border-radius: 3px 3px 0px 0px;
			color: #717171;
			.h3 {
				font-size: 20px;
				padding: 10px;
				border-bottom: 1px solid #ddd;
			}
		}
		
		.widgetbox-content {
			background-color: #FFFFFF;
			overflow: visible;
		}
	}
}