@import "base/base.scss";

@import "fonts/open-sans.scss";
@import "icons/trackbit-icons.scss";
@import "keyframes.scss";
@import "mixins.scss";
@import "colors.scss";

@import "common.scss";

@import "components/label.scss";
@import "components/button.scss";
@import "components/textfield.scss";
@import "components/datefield.scss";
@import "components/datasource.scss";
@import "components/combobox.scss";
@import "components/progressbar.scss";
@import "components/slider.scss";
@import "components/link.scss";
@import "components/panel.scss";
@import "components/popupview.scss";
@import "components/notification.scss";
@import "components/report.scss";
@import "components/splitpanel.scss";
@import "components/statusbar.scss";
@import "components/tabsheet.scss";
@import "components/table.scss";
@import "components/tree.scss";
@import "components/webstyle.scss";
@import "components/widgetbox.scss";
@import "components/window.scss";

@import "views/dashboard.scss";
@import "views/tableview.scss";
@import "views/researchview.scss";

@mixin trackbit {
	@include base;
	
	@include trackbit-common;
	@include trackbit-label;
	@include trackbit-button;
	@include trackbit-textfield;
	@include trackbit-datefield;
	@include trackbit-combobox;
	@include trackbit-datasource;
	@include trackbit-progressbar;
	@include trackbit-slider;
	@include trackbit-link;
	@include trackbit-panel;
	@include trackbit-popupview;
	@include trackbit-notification;
	@include trackbit-report;
	@include trackbit-splitpanel;
	@include trackbit-statusbar;
	@include trackbit-tabsheet;
	@include trackbit-table;
	@include trackbit-tree;	
	@include trackbit-webstyle;
	@include trackbit-widgetbox;
	@include trackbit-window;
	
    &.v-app {
        background: #F5F5F5;
    }
    
    .login-bg {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #353637;
        @include radial-gradient(#4c4d4e, #303131);
    	opacity: 0;
        @include transition(opacity 300ms linear);
        @include fade-in;
    }
    
    .main-view,
    .login-layout {
        position: relative;
        z-index: 2;
    }
    
    div.login-panel {
        @include move-up-100;
    }
    
    .login-panel {
        background: #fff;
        @include border-radius(4px);
        @include box-shadow(0 0px 4px #D0D0D0);
        padding: 1em 1em 2em;
    }
    
    .login-panel .labels,
    .login-panel .fields {
        display: block;
    }
    
    .login-panel .v-textfield {
        width: 150px;
    }
    
    .login-panel .h1 {
    	font-size: 20px;
    	text-transform: uppercase;
    	color: #349AFF;
    	font-weight: bold;
    }
    
    .login-panel .h2 {
        padding: 0;
        font-size: 20px;
        color: #a0a0a0;
    }
    
    .login-panel .error {
        font-size: 13px;
    }
    
    
    .v-animate-reveal {
        @include reveal;
    }
    
    .sidebar {
		background: none repeat-y top right #414243;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	
	.sidebar .branding {
		border-bottom: 1px solid #353637;
		position: relative;
		-webkit-font-smoothing: antialiased;
	}
	
	.sidebar .branding .v-label {
		position: relative;
		z-index: 2;
		
		white-space: normal;
		font-size: 19px;
		height: 70px;
		line-height: 1.1;
		color: #fff;
		text-shadow: 0 2px 2px rgba(0,0,0,.5);
		
		/* WTH? Why is inline-block forced as an inline style? */
		display: block !important;
		padding: .8em .8em 1.2em;
	}
	
	.sidebar .branding .v-label span {
		font-size: 13px;
		color: #d0d1d3;
		display: block;
	}
	
	.sidebar .branding .v-image {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
	}
	
	.sidebar .menu {
		overflow: auto;
		height: 100%;
	}
	
	.sidebar .menu .v-ddwrapper {
		padding: 2px;
	}
	
	.sidebar .menu .v-ddwrapper .v-nativebutton {
		margin: -2px -2px;
	}
	
	.sidebar .menu .v-ddwrapper-over {
		padding: 0;
		border: 2px solid #2d90f3;
		background: transparent;
		@include border-radius(4px);
	}
	
	.sidebar .menu .v-nativebutton {
		/* TODO mixin */
		-webkit-appearance: none;
		
		display: block;
		padding: 10px 14px 10px;
		width: 100%;
		border: none;
		margin: 0;
		position: relative;
		
		background: transparent;
		
		color: #888a8c;
		font-weight: normal;
		text-shadow: 0 1px 0 rgba(0,0,0,.5);
		text-align: left !important;
	}
	
	.sidebar .menu .v-nativebutton-caption {
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		display: inline-block;
		padding-left: 3px;
		position: relative;
	}
	
	.sidebar .menu .v-nativebutton:focus {
		outline: none;
	}
	
	.sidebar .menu .v-nativebutton:hover,
	.sidebar .menu .v-nativebutton:focus {
		color: #e1e1e1;
	}
	
	.sidebar .menu .v-nativebutton:before {
		font-size: 24px;
		line-height: 1;
		margin: 0;
		vertical-align: middle;
	}
	
	.v-webkit & .menu .v-nativebutton:before {
		@include transition(opacity ease-in-out 200ms);
	}
	
	.v-webkit & .menu .v-nativebutton:hover:before,
	.v-webkit & .menu .v-nativebutton:focus:before {
		opacity: 1;
	}
	
	.sidebar .menu .v-nativebutton:active {
		background: rgba(0,0,0,.1);
	}
	
	.sidebar .menu .v-nativebutton.selected {
		color: #FFFFFF;
		text-shadow: 0 2px 2px rgba(0,0,0,.5);
		
		background: #333537;
		
		/* TODO mixin */
		background: -moz-linear-gradient(top, #2d2f30 0%, #333537 10%, #333537 90%, #2d2f30 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d2f30), color-stop(10%,#333537), color-stop(90%,#333537), color-stop(100%,#2d2f30));
		background: -webkit-linear-gradient(top, #2d2f30 0%,#333537 10%,#333537 90%,#2d2f30 100%);
		background: -o-linear-gradient(top, #2d2f30 0%,#333537 10%,#333537 90%,#2d2f30 100%);
		background: -ms-linear-gradient(top, #2d2f30 0%,#333537 10%,#333537 90%,#2d2f30 100%);
	/* 	background: linear-gradient(to bottom, #2d2f30 0%,#333537 10%,#333537 90%,#2d2f30 100%); */
	
		-webkit-transition: none;
		
		border-right: 4px solid #4FA8F7;
	}
	
	.v-webkit & .menu .v-nativebutton.selected:before {
		text-shadow: none;
		opacity: 1;
	}
	
	.badge,
	.notifications .v-button-caption {
		display: inline-block;
		font-size: 11px;
		line-height: 1;
		color: #fff;
		text-shadow: 0 1px 1px rgba(0,0,0,.3);
		padding: .1em .4em .2em;
		
		background: #ec3120;
		
		@include border-radius(2px);
	}
	
	.menu .v-nativebutton .badge {
		position: absolute;
		top: -6px;
		right: -22px;
	}	
	
	.sidebar .user {
		display: block;
		
		border-top: 1px solid #303132;
		background: #3b3c3d;
		background-color: rgba(0,0,0,.1);
		
		color: #898c8e;
		text-shadow: 0 1px 1px rgba(0,0,0,.5);
		
		@include box-shadow(inset 0 1px 0 rgba(255,255,255,.08));
	}
	
	.sidebar .user > .v-slot {
		display: inline-block;
		width: 50%;
	}
	
	.sidebar .user > .v-slot:first-child {
		width: 34px;
	}
	
	.sidebar .user .v-image {
		width: 34px;
		height: 34px;
		border-right: 1px solid #313132;
	}
	
	.sidebar .user .v-label {
		white-space: normal;
		font-size: 12px;
		line-height: 14px;
		font-weight: 600;
		max-width: 50px;
		overflow: visible;
		padding: 2px 8px;
		height: 34px;
		color: inherit;
		-webkit-font-smoothing: antialiased;
	}
	
	.sidebar .user .v-nativebutton,
	.sidebar .user .v-menubar {
		/* TODO mixin */
		-webkit-appearance: none;
		-moz-appearance: none;
		
		border: none;
		border-top: 1px solid #303132;
		background: transparent;
		width: 100%;
		padding: 0;
		
		color: inherit;
	}
	
	.sidebar .user .v-nativebutton:focus {
		outline: none;
	}
	
	.sidebar .user .v-nativebutton:hover,
	.sidebar .user .v-menubar-menuitem:hover {
		color: #e1e1e1;
	}
	
	.sidebar .user .v-nativebutton-caption {
		display: none;
	}
	
	.sidebar .user .v-nativebutton:before,
	.sidebar .user .v-menubar-menuitem:before {
		font-size: 16px;
		margin: 0;
		display: block;
		border-top: 1px solid #434445;
		padding: .3em 0 .4em;
	}
	
	.sidebar .user .v-menubar-menuitem {
		border-right: 1px solid #434445;
		display: block !important;
		cursor: pointer;
	}
	
	.sidebar .user .icon-cancel {
		border-left: 1px solid #303132;
	}
	
	
	.layout-panel {
		background: #fff;
		@include border-radius(4px);
		/* TODO make this work in the Sass compiler */
		/* 	@include box-shadow(0 2px 3px rgba(0,0,0,.14), 0 0 0 1px rgba(0,0,0,.07)); */
		-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.14), 0 0 0 1px rgba(0,0,0,.07);
		-moz-box-shadow: 0 2px 3px rgba(0,0,0,.14), 0 0 0 1px rgba(0,0,0,.07);
		box-shadow: 0 2px 3px rgba(0,0,0,.14), 0 0 0 1px rgba(0,0,0,.07);
	}
	
	.v-ie8 & .layout-panel {
		border: 1px solid #d8d9d9;
	}
	
	
	.main-view {
		@include fade-in;
		background: #fff;
	}
	
	.view-content {
		overflow: auto;
		background-color: #DFE5E9;
	}
	
	.toolbar {
		padding: 20px;
		color: #656D78;
		background-color: #FFFFFF;
		border-bottom: 1px solid #DDDDDD;
		.h1 {
			font-size: 30px;
			font-weight: bold;
		}
	}
	
	@include dashboard-view;
	@include table-view;
	@include research-view;
}