@mixin base-select($primaryStyleName : v-select) {

$select-button-width : 25px;
$select-button-negative-width : -25px;

.#{$primaryStyleName} {
	text-align: left;
}
.#{$primaryStyleName}-optiongroup .#{$primaryStyleName}-option {
	display: block;
	white-space: nowrap;
}
.#{$primaryStyleName}-optiongroup .v-icon {
	vertical-align: middle;
	white-space: nowrap;
	margin: 0 2px;	
}
.v-ie & .#{$primaryStyleName}-optiongroup .#{$primaryStyleName}-option {
	zoom: 1;
}
.#{$primaryStyleName}-select {
	display: block;
	border: 1px solid #C7C7C7;
	
	&:focus {
		outline: none;
	}
	
	option {
		&:checked{
			background: url(data:image/gif;base64,R0lGODlhAQAUAIABAE+o9////yH+EUNyZWF0ZWQgd2l0aCBHSU1QACH5BAEKAAEALAAAAAABABQAAAIEhI+ZBQA7) repeat #4FA8F7;
		}
	}
}
.#{$primaryStyleName}-twincol {
	white-space: nowrap;
}
.#{$primaryStyleName}-twincol-options {
	float: left;
	border: 1px solid #C7C7C7;
	option {
		&:checked {
			background: url(data:image/gif;base64,R0lGODlhAQAUAIABAE+o9////yH+EUNyZWF0ZWQgd2l0aCBHSU1QACH5BAEKAAEALAAAAAABABQAAAIEhI+ZBQA7) repeat #4FA8F7;
		}
	}
}
.#{$primaryStyleName}-twincol-caption-left {
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-bottom: .3em;
}
.#{$primaryStyleName}-twincol-selections {
	font-weight: bold;
	border: 1px solid #C7C7C7;
	option {
		&:checked {
			background: url(data:image/gif;base64,R0lGODlhAQAUAIABAE+o9////yH+EUNyZWF0ZWQgd2l0aCBHSU1QACH5BAEKAAEALAAAAAABABQAAAIEhI+ZBQA7) repeat #4FA8F7;
		}
	}
}
.#{$primaryStyleName}-twincol-caption-right {
	float: right;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-bottom: .3em;
}
.#{$primaryStyleName}-twincol-buttons {
	float: left;
	text-align: center;
	padding: 0px 10px;
}
.#{$primaryStyleName}-twincol-buttons .#{$primaryStyleName}-twincol-deco {
	clear: both;
	padding-top: 7px;
}
.#{$primaryStyleName}-twincol .v-textfield {
	display: block;
	float: left;
	clear: left;
}
.#{$primaryStyleName}-twincol .v-button {
	float: left;
}
.#{$primaryStyleName}-twincol-buttons .v-button {
	float: none;
	padding: .2em 1em;
}
.v-filterselect {
	white-space: nowrap;
	text-align: left;
	display: inline-block;
	padding-right: $select-button-width; /* Space for the button */
	
	input[type="text"] {
		border-width: 0px 1px 0px 0px;
		border-style: solid;
		border-color: #C7C7C7;
		padding: 5px 5px 5px 7px;
	}
}
.v-filterselect .v-icon {
	float: left;
}
&.v-app .v-filterselect-input,
.v-window .v-filterselect-input,
.v-popupview-popup .v-filterselect-input {
	margin: 0;
	float: left;
	-webkit-border-radius: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.v-filterselect-prompt .v-filterselect-input {
	color: #999;
	font-style: italic;
}
.v-filterselect-button {
	display: inline-block;
	cursor: pointer;
	width: $select-button-width;
	margin-right: $select-button-negative-width;
	height: 1em;
	background: transparent url(../common/img/sprites.png) no-repeat -1px -5px;
}
.v-filterselect.v-readonly .v-filterselect-button {
	display: none;
}
.v-filterselect.v-readonly,
.v-filterselect.v-readonly .v-filterselect-input {
	background: transparent;
}
.v-filterselect-suggestpopup {
	background: #fff;
	border: 1px solid #C7C7C7;
	padding: 5px 0px;
	border-radius: 4px;
}
.v-filterselect-suggestmenu table {
	border-collapse: collapse;
	border: none;
	vertical-align:top;
}
.v-filterselect-suggestmenu .gwt-MenuItem {
	white-space: nowrap;
	padding: 3px 10px;
}
.v-filterselect-suggestmenu .gwt-MenuItem .v-icon {
	margin-right: 3px;
	vertical-align: middle;
}
.v-filterselect-suggestmenu .gwt-MenuItem span {
	vertical-align: middle;
}
.v-filterselect-suggestmenu .gwt-MenuItem-selected {
	background: #F5F5F5;
}
.v-filterselect-nextpage,
.v-filterselect-nextpage-off,
.v-filterselect-prevpage-off,
.v-filterselect-prevpage {
	width: 100%;
	background: #aaa;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
}
.v-filterselect-nextpage-off,
.v-filterselect-prevpage-off {
	color: #666;
	opacity: .5;
	filter: alpha(opacity=50);
	cursor: default;
}
.v-filterselect-nextpage-off span,
.v-filterselect-prevpage-off span {
	cursor: default;
}
.v-filterselect-status {
	white-space: nowrap;
	text-align: center;
}

.v-filterselect-no-input .v-filterselect-input {
	cursor: default;
}

/* Error styles (disabled by default)

.v-filterselect-error .v-filterselect-input,
.#{$primaryStyleName}-error .#{$primaryStyleName}-option,
.#{$primaryStyleName}-error .#{$primaryStyleName}-select,
.#{$primaryStyleName}-error .#{$primaryStyleName}-twincol-selections,
.#{$primaryStyleName}-error .#{$primaryStyleName}-twincol-options {
	background: #ffaaaa;
}
*/

/*  Required field styles (disabled by default)
   
.v-filterselect-error .v-filterselect-input,
.#{$primaryStyleName}-required .#{$primaryStyleName}-option,
.#{$primaryStyleName}-required .#{$primaryStyleName}-select,
.#{$primaryStyleName}-required .#{$primaryStyleName}-twincol-selections,
.#{$primaryStyleName}-required .#{$primaryStyleName}-twincol-options {
	background: #ffaaaa;
}
*/
}