@{
    ViewBag.Title = "Epicuri Management Panel";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>For OnBoarding and modifying Restaurants</h2>
            </hgroup>
            <hgroup class="title">
            
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}
<h3>Useful Things:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Restaurants can be onboarded...
    </li>

    
</ol>
