$primary-color: #4FA8F7;
$primary-hover-color: #428BCA;
$danger-color: #E9573F;
$danger-hover-color: #B32E2A;
$success-color: #8CC152;
$success-hover-color: #159077;
$info-color: #3BAFDA;
$info-hover-color: #3498DB;
$warning-color: #F6BB42;
$warning-hover-color: #ED9C28;
$dark-color: #434A54;
$dark-hover-color: #1F2225;
