body, html
{
    color: #333;
    margin: 0 0.5em;
    padding: 0;
}



table.frame 
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

table td, table th {

    vertical-align: top;
}

tr.spaceUnder > td {
    padding-bottom: 2.5em;
    padding-top: 2.5em;
}

h1 
{
    margin-top: 0.05em;
    margin-bottom: 0.05em;
    font-weight: bold;
    font-size: 1.4em;
    line-height: 2em;
}

.table-c {
    margin: 0 auto;
    position: relative;
    border:2px solid black; 
    width: 250px;
    margin-bottom: 1em;
}

.table-c td {
    text-align: center;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
    margin-top: 5em;
    margin-bottom: 2.5em;
}


