@model IEnumerable<epicuri.CPE.Models.Printer>
@{
    
    Layout = "~/Views/Portal.cshtml";

}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <!--/stories-->
                    <div class="row">
                        <br>
                        <div class="col-md-2 col-sm-3 text-center">
                            <img alt="Kitchen View Icon" src="~/Content/kitchenview.fw.png" style="width: 100px;
                                height: 100px" class="img-circle">
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <h2>
                                <a href="~/Kitchen">Pending Orders</a></h2>
                            <div class="row">
                                <div class="col-xs-9">
                                    <h4>
                                        A live view of pending orders</h4>
                                </div>
                                <div class="col-xs-3">
                                </div>
                            </div>
                            <br>
                            <br>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <br>
                        <div class="col-md-2 col-sm-3 text-center">
                            <img alt="BI View icon" src="~/Content/biview.fw.png" style="width: 100px; height: 100px"
                                class="img-circle">
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <h2>
                                <a href="~/BusinessIntelligence">Business Intelligence</a></h2>
                            <div class="row">
                                <div class="col-xs-9">
                                    <h4>
                                        Drill down into your restaurants statistics</h4>
                                </div>
                                <div class="col-xs-3">
                                </div>
                            </div>
                            <br>
                            <br>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <br>
                        <div class="col-md-2 col-sm-3 text-center">
                            <img alt="BI View icon" src="~/Content/biview.fw.png" style="width: 100px; height: 100px"
                                 class="img-circle">
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <h2>
                                <a href="~/ReportingCentre">Reporting Centre</a>
                            </h2>
                            <div class="row">
                                <div class="col-xs-9">
                                    <h4>
                                        Sales reports, customer logs and more
                                    </h4>
                                </div>
                                <div class="col-xs-3">
                                </div>
                            </div>
                            <br>
                            <br>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
