*/target
**/.idea
*/*.iml
*.iml
epicuri-db/kapps/tick-openapi-booking/data/emails2*
epicuri-db/kapps/security/data/statics
epicuri-db/kapps/security/data/passes
booking-widget/src/main/webapp/VAADIN/widgetsets/com.thinktouchsee.AppWidgetSet
*.log
epicuri-db/kapps/statics-booking/data/statics
epicuri-db/kapps/statics-booking/data/emailStatics
epicuri-db/kapps/aurusitdb/data/prices
epicuri-db/kapps/aurusitdb/data/sessionInfo
server-api/src/test/resources/application-prod.yml
server-api/src/test/resources/application.yml
server-api/common/common.iml
server-api/diner/diner-api.iml
server-api/host/host-api.iml
server-api/*/target
*/node_modules
*/npm_debug.log
