$error-message-bg: #F7E0DB;
$error-message-text: #D24D33;
$warning-message-bg: #FFF4E1;
$warning-message-text: #ED9C28;
$humanized-message-bg: #DFF3F9;
$humanized-message-text: #5BC0DE;
$tray-message-bg: #DFF3F9;
$tray-message-text: #5BC0DE;

@mixin trackbit-notification {
	
	.v-Notification {
		background: #000000;
		/* TODO mixin */
		background: -moz-linear-gradient(top, rgba(0,0,0,0.45) 0%, rgba(45,45,45,0.45) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.45)), color-stop(100%,rgba(45,45,45,0.45)));
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.45) 0%,rgba(45,45,45,0.45) 100%);
		background: -o-linear-gradient(top, rgba(0,0,0,0.45) 0%,rgba(45,45,45,0.45) 100%);
		background: -ms-linear-gradient(top, rgba(0,0,0,0.45) 0%,rgba(45,45,45,0.45) 100%);
	/* 	background: linear-gradient(to bottom, rgba(0,0,0,0.45) 0%,rgba(45,45,45,0.45) 100%); */
	
		color: #555;
		font-size: 18px;
		line-height: 1.4;
		font-weight: normal;
		
		padding: 1em 2em;
		@include box-shadow(0 3px 10px rgba(0,0,0,.25));

		&.error {
		    border-left: 4px solid $error-message-text;
		    background: $error-message-bg;
		    h1 {
		        color: $error-message-text;
		    }
		}
		&.warning {
            border-left: 4px solid $warning-message-text;
            background: $warning-message-bg;
            h1 {
                color: $warning-message-text;
            }
        }
        &.humanized {
            border-left: 4px solid $humanized-message-text;
            background: $humanized-message-bg;
            h1 {
                color: $humanized-message-text;
            }
        }
        &.tray {
            border-left: 4px solid $tray-message-text;
            background: $tray-message-bg;
            h1 {
                color: $tray-message-text;
            }
        }
	}
	
	.v-Notification h1 {
		font-size: inherit;
		color: #fff;
		font-weight: normal;
	}
	
	.v-Notification h1,
	.v-Notification p {
		margin: 0;
		display: inline-block;
		vertical-align: middle;
	}
	
	.v-Notification h1 + p {
		margin-left: 2em;
		color: #555;
		max-width: 28em;
	}
	
	
	
	.v-Notification-system {
		background: -webkit-linear-gradient(bottom, rgba(76,76,76,0) 0%, rgba(76,76,76,.9) 60%, rgba(76,76,76,1) 95%, rgba(52,52,52,1) 100%);
		width: 100%;
		max-width: 100%;
		text-shadow: 0 1px 4px rgba(0,0,0,.5);
		font-size: 14px;
		text-align: center;
		padding-bottom: 3em;
		@include box-shadow(none);
		
		/* TODO mixin */
		-webkit-animation: pull-down 300ms ease-in-out;
		-moz-animation: pull-down 300ms ease-in-out;
		-ms-animation: pull-down 300ms ease-in-out;
		-o-animation: pull-down 300ms ease-in-out;
		animation: pull-down 300ms ease-in-out;
	}
	
	.v-Notification-system h1 {
		display: inline-block;
		font-size: 14px;
		margin-right: 3em;
		vertical-align: top;
		line-height: 1;
		margin-bottom: 1em;
		color: #fff;
	}
	
	.v-Notification-system h1 + p {
		display: inline-block;
		vertical-align: top;
		text-align: left;
		line-height: 1.3;
		color: #ececec;
	}
	
	.v-Notification-tray {
		font-size: 14px;
		line-height: 18px;
		margin: 0 14px 14px 0;
	}
	
	.v-Notification-tray h1,
	.v-Notification-tray p {
		display: block;
		margin: 0;
	}
	
	.v-Notification-tray h1 {
		font-weight: bold;
	}
	
	.v-Notification-tray h1 + p {
		margin: .8em 0 0;
	}

}