@mixin trackbit-table {
	
	.v-table-header-wrap,
	.v-table-footer-wrap {
		border: .1em solid #d4d5d5;
		
		background: #F6F8F9;
	}
	
	.v-table-header-wrap {
		border-bottom: none;
	}
	
	.v-table-footer-wrap {
		border-top: none;
	}
	
	.v-table-footer td {
		border: none;
		border-left: .1em solid #e5e8e8;
	}
	
	.v-table-footer td:first-child {
		border: none;
	}
	
	.v-table-footer-container {
		padding: .1em 0 .1em 6px;
		float: none;
		font-size: 13px;
		color: #979699;
		text-shadow: 0 .1em rgba(255,255,255,.7);
	}
	
	.v-table-footer td:first-child .v-table-footer-container {
		padding-left: 14px;
		@include box-sizing(border-box);
	}
	
	.v-table-footer td:last-child .v-table-footer-container {
		padding-right: 6px;
		@include box-sizing(border-box);
	}
	
	.v-table-caption-container {
		font-size: 13px;
		font-weight: 600;
		line-height: 1;
		padding-top: .6em;
		padding-bottom: .6em;
		padding-left: 6px;
		margin-left: 0;
		border-left: none;
	}
	
	.v-table-caption-container-align-right {
		float: none;
	}
	
	.v-table-header-cell {
	}
	
	.v-table-header td:first-child .v-table-caption-container {
		border-left-color: transparent;
		margin-left: 8px;
		padding-left: 4px;
	}
	
	.v-table-header td:last-child .v-table-caption-container {
		padding-right: 4px;
		@include box-sizing(border-box);
	}
	
	.v-table-resizer {
		font-size: 13px;
		height: 1.8em;
		background: transparent;
		width: 4px;
	}
	
	.v-table-cell-wrapper {
		font-size: $font-size;
		color: #717171;
	}
	
	.v-table-cell-content {
		border: none;
		border-bottom: 1px solid #e5e8e8;
		padding-top: .3em;
		padding-bottom: .3em;
	}
	
	.v-table-cell-content:first-child {
		border-left-color: transparent;
	}
	
	.v-table-cell-content:first-child .v-table-cell-wrapper {
		padding-left: 8px;
		@include box-sizing(border-box);
	}
	
	.v-table-cell-content:last-child .v-table-cell-wrapper {
		padding-right: 14px;
		@include box-sizing(border-box);
	}
	
	.v-table-body {
		border: .1em solid #d4d5d5;
	}
	
	tr[class^="v-table-row"]:hover {
		background-color: #F5F5F5;
		.v-table-cell-wrapper {
		    color: #000;
		}
		&.v-selected {
			background-color: $primary-hover-color;
		}
	}
	
	.v-table-row-odd {
		background-color: #FFF;
	}
	
	.v-table .v-selected {		
		background: $primary-hover-color;
		outline: none;
	/* background: linear-gradient(to bottom, #75b0e7 0%,#5f9de1 100%); */
	}
	
	.v-table .v-selected + .v-selected {
		background: #5f9de1;
	}
	
	.v-table .v-selected .v-table-cell-content {
		border-left-color: transparent;
		.v-table-cell-wrapper {
			color: #FFF;
		}
	}
	
	
	.v-table-header-cell-asc .v-table-sort-indicator,
	.v-table-header-cell-desc .v-table-sort-indicator {
		background: transparent;
		width: 0.5em;
		height: 1.8em;
		font-size: 13px;
		line-height: 2;
		text-shadow: 0 .1em rgba(255,255,255,.7);
	}
	
	.v-table-header-cell-asc .v-table-sort-indicator:before,
	.v-table-header-cell-desc .v-table-sort-indicator:before {
		font-family: 'fontello';
		font-style: normal;
		font-weight: normal;
		speak: none;
		display: inline-block;
	}
	
	.v-table-header-cell-asc .v-table-sort-indicator:before {
		content: '\25b4';
	}
	
	.v-table-header-cell-desc .v-table-sort-indicator:before {
		content: '\25be';
	}
	
	
	
	.v-table.borderless .v-table-header-wrap,
	.v-table.borderless .v-table-body {
		border: none;
	}
	
	.v-table.borderless .v-table-header-wrap {
		border-bottom: 1px solid #d4d5d5;
	}
	
	.v-table.borderless .v-table-footer-wrap {
		border-top: 1px solid #d4d5d5;
	}
	
	
	.v-table.plain .v-table-header-wrap {
		background: transparent;
		border: none;
	}
	
	.v-table.plain .v-table-caption-container {
		padding-top: .4em;
		padding-bottom: .8em;
	}
	
	.v-table.plain .v-table-row,
	.v-table.plain .v-table-row-odd {
		background: transparent;
	}
	
	.v-table.plain .v-table-cell-content {
		border-left-color: transparent;
		border-bottom: 1px solid #eee;
		padding-top: .3em;
		padding-bottom: .3em;
	}
	
	.v-table.plain .v-table-caption-container {
		border-left-color: transparent;
	}
	
	/* Different styles colors */
	
	.v-table.style-primary {
		.v-table-header-wrap,
		.v-table-footer-wrap {
			background-color: $primary-color;
			color: #FFF;
		}
	}
	
	.v-table.style-danger {
		.v-table-header-wrap,
		.v-table-footer-wrap {
			background-color: $danger-color;
			color: #FFF;
		}
	}
	
	.v-table.style-success {
		.v-table-header-wrap,
		.v-table-footer-wrap {
			background-color: $success-color;
			color: #FFF;
		}
	}
	
	.v-table.style-info {
		.v-table-header-wrap,
		.v-table-footer-wrap {
			background-color: $info-color;
			color: #FFF;
		}
	}
	
	.v-table.style-warning {
		.v-table-header-wrap,
		.v-table-footer-wrap {
			background-color: $warning-color;
			color: #FFF;
		}
	}
	
	.v-table.style-dark {
		.v-table-header-wrap,
		.v-table-footer-wrap {
			background-color: $dark-color;
			color: #FFF;
		}
	}

}